@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-regular {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-italic {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  background-color: #f8fafc;
}
select,
input,
textarea,
button {
  border: 1px solid #c2c2c2;
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-color: #c586a5;
  font-family: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #c586a5;
  width: auto;
  height: auto;
  padding: 0;
}
