# Node
node_modules/

# Build outputs
dist/
build/
.vite/

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Misc
coverage/
uploads/
*.tgz
